<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>LOGIN</display-name>
  <description>Login Module</description>
  <resource-ref>
    <description>MySQL Datasource</description>
    <res-ref-name>jdbc/basa</res-ref-name>
    <res-type>javax.sql.DataSource</res-type>
    <res-auth>Container</res-auth>
  </resource-ref>
  <welcome-file-list>
    <welcome-file>index.jsp</welcome-file>
  </welcome-file-list>
  <error-page>
    <error-code>404</error-code>
    <location>/error404.html</location>
  </error-page>
  <error-page>
    <error-code>500</error-code>
    <location>/error.html</location>
  </error-page>
  <context-param>
    <param-name>contextConfigLocation</param-name>
    <param-value>
        	/WEB-INF/dataaccess-context.xml,
        	/WEB-INF/i18n-context.xml,
        	/WEB-INF/security-context.xml
        </param-value>
  </context-param>
  <listener>
    <listener-class>org.springframework.web.context.ContextLoaderListener</listener-class>
  </listener>
  <filter>
    <filter-name>springSecurityFilterChain</filter-name>
    <filter-class>org.springframework.web.filter.DelegatingFilterProxy</filter-class>
  </filter>
  <filter-mapping>
    <filter-name>springSecurityFilterChain</filter-name>
    <url-pattern>/*</url-pattern>
  </filter-mapping>
  <servlet>
    <servlet-name>dispatcher</servlet-name>
    <servlet-class>org.springframework.web.servlet.DispatcherServlet</servlet-class>
    <load-on-startup>1</load-on-startup>
  </servlet>
  <servlet-mapping>
    <servlet-name>dispatcher</servlet-name>
    <url-pattern>*.html</url-pattern>
  </servlet-mapping>
  <servlet>
	  	<servlet-name>empresasServlet</servlet-name>
	  	<servlet-class>com.security.servlets.EmpresasServlet</servlet-class>
	  	<load-on-startup>-1</load-on-startup>
	</servlet>	
	<servlet-mapping>
		  <servlet-name>empresasServlet</servlet-name>
		  <url-pattern>/empresasServlet</url-pattern>
	</servlet-mapping>
	<servlet>
	  	<servlet-name>sucursalesServlet</servlet-name>
	  	<servlet-class>com.security.servlets.SucursalesServlet</servlet-class>
	  	<load-on-startup>-1</load-on-startup>
	</servlet>	
	<servlet-mapping>
		  <servlet-name>sucursalesServlet</servlet-name>
		  <url-pattern>/sucursalesServlet</url-pattern>
	</servlet-mapping>	
  <servlet>
  	<servlet-name>provinciasPorPaisServlet</servlet-name>
  	<servlet-class>com.security.servlets.ProvinciasPorPaisServlet</servlet-class>
  	<load-on-startup>-1</load-on-startup>
  </servlet>
  <servlet-mapping>
	  <servlet-name>provinciasPorPaisServlet</servlet-name>
	  <url-pattern>/provinciasPorPaisServlet</url-pattern>
  </servlet-mapping>	
  <servlet>
	  <servlet-name>localidadesPorProvinciaServlet</servlet-name>
	  <servlet-class>com.security.servlets.LocalidadesPorProvinciaServlet</servlet-class>
	  <load-on-startup>-1</load-on-startup>
  </servlet>
  <servlet-mapping>
	  <servlet-name>localidadesPorProvinciaServlet</servlet-name>
	  <url-pattern>/localidadesPorProvinciaServlet</url-pattern>
  </servlet-mapping>	
  <servlet>
	  <servlet-name>barriosPorLocalidadServlet</servlet-name>
	  <servlet-class>com.security.servlets.BarriosPorLocalidadServlet</servlet-class>
	  <load-on-startup>-1</load-on-startup>
  </servlet>
  <servlet-mapping>
	  <servlet-name>barriosPorLocalidadServlet</servlet-name>
	  <url-pattern>/barriosPorLocalidadServlet</url-pattern>
  </servlet-mapping>	
  <session-config>
    <session-timeout>30</session-timeout>
  </session-config>
</web-app>